@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Ysabeau+Infant:wght@1&display=swap');

body {
  margin: 0;
  font-family: 'Creepster', cursive;
  font-family: 'Ysabeau Infant', sans-serif;  
/* background-image: url("../src//assets/rick.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
} */
}